body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0 auto;
}

:root {
    --carolina-blue: rgb(75, 156, 211);
}

header {
    opacity: 0.9;
    background-color: var(--carolina-blue);
}

.navbar-light {
    background: var(--carolina-blue);
}

.nav-default {
    color: white;
}

.navbar-default {
    background: var(--carolina-blue);
    color: white;
    padding-right: 5%;
    align-items: center;
}

a {
    color: white;
}

h3 {
    color: white;
    size: 3em;
    text-align: center;
    justify-self: center;
}

.container-fluid {
    background-image: url("https://nsfp.unc.edu/sites/nsfp.unc.edu/files/styles/adaptive/public/gaa-292.jpg?itok=S30hWp6_");
    background-size: cover;
    align-content: center;
    align-items: center;
    background-repeat: no-repeat;
    height: 50vh;
    padding: 0;
    margin: auto;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 5em;
    color: white;
    text-align: center;
    position: relative;
    top: 150px;
    margin: auto;
}

h2 {
    font-size: 1.2em;
    padding-top: 4%;
    padding-bottom: 1.5%;
    text-align: center;
    color: darkblue;
    font-weight: bold;
}

p {
    text-align: center;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;

}

.columns {
    text-align: left;
}

.box {
    background-color: lightskyblue;
    position: relative;
    left: 5%;
    width: 90%;
    height: 5px;
}

footer {
    position: relative;
    bottom: 0;
    text-align: center;
    height: 20vh;
    font-size: 0.75em;
    color: white;
    background-color: var(--carolina-blue);
    opacity: 0.9;
    width: 100vw;
}

img {
    width: 30%;
    position: relative;
    left: 35%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.logo {
    padding: 0;
    width: fit-content;
    margin: 0;
    align-self: right;
}