body,
html {
    color: white;
    font-family: 'Open Sans', sans-serif;
    Æ’
}

.container-fluid {
    background-image: url("https://global.unc.edu/files/2013/03/spring_4_09__12_054.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 20vh;
    padding: 0;

    text-align: center;
    grid-template-rows: auto;
    grid-template-columns: auto;
    justify-items: center;
}


.container-fluid>h1 {
    size: 4em;

}

:root {
    --carolina-blue: rgb(75, 156, 211);
    --dark-grey: #757575;
}

header {
    opacity: 0.9;
    background-color: var(--carolina-blue);
}

.navbar-default {
    background: var(--carolina-blue);
    color: white;
    padding-right: 5%;
    align-items: center;
}

.nav-link:hover {
    color: darkblue;
}

.searchbar {
    padding-top: 2%;
}

#bar {
    font-size: .9em;
    border: none;
}

input::placeholder {
    color: rgb(1, 1, 1, 0.3)
}

.fas {
    font-size: 1.5em;
    margin-right: 0.5em;
}



a {
    color: white;
}

.black {
    color: var(--carolina-blue);
    text-align: center;
    font-size: 2em;
    padding: 0;
    height: 10vh;
    background-color: black;
    margin: 0;
    grid-column: 1/4;
    grid-row: 1;
}

.white {
    color: var(--carolina-blue);
    text-align: center;
    font-size: 2em;
    padding: 0;
    height: 10vh;
    background-color: dark var(--dark-grey);
    margin: 0;
    grid-column: 4/-1;
    grid-row: 1;
}

h2 {
    font-size: 1.8em;
}

.article {
    grid-auto-flow: dense;
    display: grid;
    height: fit-content;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fit, 1fr);
}

.content {
    color: black;
    display: grid;
    background-color: var(--dark-grey);
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: dense;
    text-align: center;
    align-items: center;
    grid-row: 2;
    height: fit-content;
    grid-column: 1/4;
    padding: 1em;
}


.franklin {
    grid-row: 2;
    grid-column: 2/5;
    justify-content: center;

}

.image {
    min-width: 400px;
    justify-self: center;
}

.top {
    grid-column: 1/-1;
    grid-row: 1;
    background-color: var(--carolina-blue);
    padding: 1em;
    border-radius: 1em;
    color: white;
}

.text {
    height: fit-content;
    grid-row: 3;
    grid-column: 1/-1;
    text-overflow: inherit;
}

.holder {
    grid-column: 4/-1;
    grid-row: 2;
    padding: 10px;
    display: grid;
}

.side {
    grid-column: 1/-1;
    display: grid;
    text-align: right;
    height: fit-content;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: 1;
}

.more {
    grid-column: 2/-1;
    grid-row: 1;
}

.other {
    grid-column: 1/2;
    grid-row: 1;
}

.side-text {
    grid-row: 2;
    grid-column: 1/-1;
    text-align: center;
}

.S content {
    grid-column: 1/-1;
    display: grid;
    text-align: right;
    height: fit-content;
    background-color: var(--carolina-blue);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: 2;
}

.S {
    background-color: var(--carolina-blue);
    color: white;
}

footer {
    position: relative;
    bottom: 0;
    text-align: center;
    height: 20vh;
    font-size: 0.75em;
    color: white;
    background-color: var(--carolina-blue);
    opacity: 0.9;
    width: 100vw;
}